@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Pokemon Movie Randomizer! Please click the link below to get started. 
       </h1>
    <p>Random Pokemon Movie <a href=" https://localhost:7168/random">Get Movie</a>.</p>
</div>
